 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>sithiralin vizhi</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p><center>Ingu Aram kanda Arasiya muthal</center><br></p>
                 <p>Manam kanda maattram varai<br></p>
                </div>
                <div class="col-lg-4">
                    <p>mutrilum maaru patta konathil ,,,,,,,,,,,,,,,
                 phuthiyathoor vazhiyil..........</p>
                </div>
             </div>
        </div>
    </section>
